.listPageNumbers {
    margin-right: 3px;
    display: inline-block;
    list-style-type: none;
}

.project-name-header {
    padding-left: 15px;
}

.modal-content {
    color: #000000;
}

.passwords-doesnt-match {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
